.photo-gallery-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #FFFFFF;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 10px;
        font-family: $font-primary;
        z-index: 10;
        color: #010A20;
    }

    p {
        font-size: 1rem;
        color: #6F7787;
        margin-bottom: 40px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-family: $font-primary;
        z-index: 10;
    }

    .gallery-grid {
        width: 100%;
        margin: 0 auto;
        margin-left: 150px;
        margin-bottom: 150px;
        height: 80vh;
        font-size: 30px;
        color: white;
        padding: 20px 0;
        font-weight: bold;
        text-align: center;
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-template-areas: "bir uch besh"
            "bir uch besh"
            "bir tort besh"
            "bir tort olti"
            "ikki tort olti"
            "ikki tort olti";
        gap: 20px;
        justify-items: center; 
        align-items: center; 
        @media (max-width: 768px) {
            width: 50%;
            margin: 0 auto;
            grid-template-columns: 180px 180px;
            grid-template-areas: "bir uch"
                "bir uch"
                "bir tort"
                "bir tort"
                "ikki tort"
                "ikki tort"
                 "besh olti"
                 "besh olti"
                 "besh olti";
            
        }
        .image-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden; 
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease; 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.8); 
                }
            }
        }
        .bir {
            width: 350px;
            height: 500px;
            grid-area: bir;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @media (max-width:768px) {
                width: 180px;
                height: 250px;
                
            }
        }

        .ikki {
            width: 350px;
            height: 200px;
            grid-area: ikki;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @media (max-width:768px) {
                width: 180px;
                height: 150px;
                
            }
        }

        .uch {
            width: 350px;
            height: 200px;
            grid-area: uch;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            grid-area: uch;
            @media (max-width:768px) {
                width: 180px;
                height: 150px;
                
            }
        }

        .tort {
            width: 350px;
            height: 500px;
            grid-area: tort;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @media (max-width:768px) {
                width: 180px;
                height: 250px;
                
            }
        }

        .besh {
            width: 350px;
            height: 350px;
            grid-area: besh;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @media (max-width:768px) {
                width: 180px;
                height: 150px;
                
            }
        }

        .olti {            
            width: 350px;
            height: 350px;
            grid-area: olti;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @media (max-width:768px) {
                width: 180px;
                height: 150px;
                
            }
        }
    }
}
