.photo-gallery-section {
    text-align: center;
    padding: 60px 20px;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 10px;
        font-family: $font-primary;
    }

    p {
        font-size: 1rem;
        color: #666666;
        margin-bottom: 40px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-family: $font-primary;
    }

    .gallery-grid {
        width: 100%;
        margin: 0 auto;
        margin-left: 150px;
        margin-bottom: 150px;
        height: 80vh;
        font-size: 30px;
        color: white;
        padding: 20px 0;
        font-weight: bold;
        text-align: center;
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-template-areas: "bir uch besh"
            "bir uch besh"
            "bir tort besh"
            "bir tort olti"
            "ikki tort olti"
            "ikki tort olti";
        gap: 20px;
        justify-items: center; /* Elementlarni gorizontal markazda joylash */
        align-items: center; 
        .bir {
            width: 350px;
            height: 500px;
            grid-area: bir;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .ikki {
            width: 350px;
            height: 200px;
            grid-area: ikki;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .uch {
            width: 350px;
            height: 200px;
            grid-area: uch;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            grid-area: uch;
        }

        .tort {
            width: 350px;
            height: 500px;
            grid-area: tort;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .besh {
            width: 350px;
            height: 350px;
            grid-area: besh;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .olti {            
            width: 350px;
            height: 350px;
            grid-area: olti;
            -o-object-fit: cover;
            object-fit: cover;            
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    }
}
