@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 10px;
  background-image: url(../assets/imgs/hero_img.png);
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(221, 89%, 4%, 0.5);
    z-index: -1;
  }
}
.header .search-bar-container {
  position: absolute;
  top: 25px; /* Adjust as needed */
  right: 92px; /* Adjust as needed */
  width: 250px;
  display: none; /* Initially hidden */
  z-index: 100;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .header .search-bar-container {
    right: 105px;
  }
}
.header .search-bar-container .search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}
.header .search-bar-container .search-bar::-moz-placeholder {
  color: #ddd;
}
.header .search-bar-container .search-bar::placeholder {
  color: #ddd;
}
.header .search-bar-container .search-bar:focus {
  outline: none;
  border-color: #999;
}
.header .search-bar-container.active {
  display: block;
}
.header .search-icon {
  cursor: pointer;
}
.header__nav {
  display: flex;
  gap: 5rem;
  align-items: center;
  z-index: 1;
}
.header__nav img {
  cursor: pointer;
}
.header__nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__nav-links {
    width: 120px;
  }
}
.header__nav-links--links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 62px;
}
.header__nav-links--links a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.header__nav-links--links a:hover {
  color: #ddd;
}
@media (max-width: 768px) {
  .header__nav-links--links {
    display: none;
  }
}
.header__nav-links--icon {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 34px;
}
.header__nav-links--icon img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__nav {
    gap: 200px;
    justify-content: space-between;
  }
}
.header__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
@media (max-width: 768px) {
  .header__text {
    text-align: center;
    margin: 0 auto;
  }
}
.header__text--line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 2px;
  transform: rotate(90deg) translateX(65%) translateY(100px);
}
.header__text--line2 {
  width: 300px;
  height: 2px;
  background-color: #fff;
}
.header__text--line3 {
  width: 100px;
  height: 2px;
  background-color: #ff0000;
}
.header__text--line p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  transform: rotate(-180deg);
}
@media (max-width: 768px) {
  .header__text--line {
    display: none;
  }
}
.header__text h1 {
  margin-top: 20px;
  margin-left: 180px;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 130px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .header__text h1 {
    margin: 0 auto;
    font-size: 80px;
    line-height: 110px;
  }
}
.header__text a {
  width: 200px;
  height: 50px;
  margin-left: 180px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.header__text a:hover {
  color: #ddd;
}
.header__text a button {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__text a button:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 768px) {
  .header__text a button {
    margin: 0 auto;
  }
}
.header .info-section {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}
.header .info-section-text {
  display: flex;
  transform: rotate(-90deg);
  gap: 40px;
  margin-top: 140px;
  margin-left: -25px;
}
@media (max-width: 768px) {
  .header .info-section-text {
    display: none;
  }
}
.header .info-section-text a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header .info-section-text a:hover {
  color: #ddd;
}
.header .info-section .info-boxes {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  top: 65px;
  right: -13px;
  position: relative;
}
@media (max-width: 768px) {
  .header .info-section .info-boxes {
    flex-wrap: wrap;
    margin: 0 90px;
    justify-content: center;
    right: 0;
    top: 30px;
  }
}
.header .info-section .info-boxes .info-box {
  padding: 30px 20px 39px 61px;
  color: white;
  width: 300px;
}
@media (max-width: 768px) {
  .header .info-section .info-boxes .info-box {
    width: 100%;
  }
}
.header .info-section .info-boxes .info-box h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 18.75px;
  color: #ff0000;
}
.header .info-section .info-boxes .info-box b {
  font-family: "DM Sans", sans-serif;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header .info-section .info-boxes .info-box p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #939393;
}
.header .info-section .info-boxes .video-thumbnail {
  width: 300px;
  position: relative;
}
@media (max-width: 768px) {
  .header .info-section .info-boxes .video-thumbnail {
    width: 100%;
  }
}
.header .info-section .info-boxes .video-thumbnail video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.header .side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: hsla(231, 39%, 7%, 0.8);
  color: #fff;
  padding: 20px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
}
@media (max-width: 768px) {
  .header .side-menu {
    width: 100%;
    height: 100vh;
    top: -100vh;
    background-color: hsla(231, 39%, 7%, 0.9);
    transition: top 0.3s ease;
  }
  .header .side-menu.active {
    top: 0;
  }
}
.header .side-menu.active {
  right: 0;
}
.header .side-menu .side-menu-close {
  font-size: 1.5rem;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.header .side-menu .side-menu-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.header .side-menu .side-menu-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.header .side-menu .side-menu-links a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .header .side-menu .side-menu-links {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
  }
}

.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.background {
  background: url("../assets/imgs/Rectangle 9.png") no-repeat center center/cover;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .background {
    height: 100vh;
  }
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(1, 10, 32, 0) 0%, #010A20 100%);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.backgroundd {
  background: url("../assets/imgs/Rectangle 10.png") no-repeat center center/cover;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .backgroundd {
    height: 100vh;
    margin: 0 auto;
  }
}
.backgroundd::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    margin: 0 auto;
  }
}

.content-reverse {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .content-reverse {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
}

.image-container img {
  width: 500px;
  border-radius: 8px;
}

.text-content {
  max-width: 400px;
}
.text-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}
.text-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #E0E0E0;
}
.text-content button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.text-content button:hover {
  background-color: #c0392b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
}

.carousel-section {
  position: relative;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
  background: url("../assets/imgs/gallery.png") no-repeat center center/cover;
}
.carousel-section h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  z-index: 1;
}
.carousel-section .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.carousel-section .carousel {
  position: relative;
  width: 50%;
  height: 257px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .carousel-section .carousel {
    width: 80%;
  }
}
.carousel-section .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-section .slide {
  min-width: 100%;
  transition: 0.5s;
}
.carousel-section .slide img {
  width: 100%;
  height: 257px;
  border-radius: 8px;
}
.carousel-section .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 200;
}
.carousel-section .carousel-control img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.carousel-section .carousel-control.prev {
  left: 10px;
}
.carousel-section .carousel-control.next {
  right: 10px;
}
.carousel-section .carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 1;
}
.carousel-section .carousel-indicators .dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}
.carousel-section .carousel-indicators .dot.active {
  background-color: #e74c3c;
}
.carousel-section .by-the-numbers {
  margin-top: 750px;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 60px 20px;
  color: #ffffff;
}
.carousel-section .by-the-numbers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(221, 89%, 7%, 0.5);
  z-index: 1;
}
.carousel-section .by-the-numbers-text {
  position: relative;
  z-index: 10;
}
.carousel-section .by-the-numbers h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  z-index: 10;
}
.carousel-section .by-the-numbers p {
  font-size: 1rem;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #E0E0E0;
  z-index: 10;
}
.carousel-section .by-the-numbers .numbers {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.carousel-section .by-the-numbers .numbers .number-item {
  text-align: center;
  z-index: 10;
}
.carousel-section .by-the-numbers .numbers .number-item h3 {
  font-size: 2rem;
  color: #ff0055;
  font-weight: bold;
}
.carousel-section .by-the-numbers .numbers .number-item p {
  font-size: 0.9rem;
  color: #E0E0E0;
  max-width: 200px;
  margin: 0 auto;
}

.hills-and-valleys {
  position: relative;
  background-color: #ffffff;
  padding: 80px 20px;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hills-and-valleys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hills-and-valleys .content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.hills-and-valleys .content h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.hills-and-valleys .content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666666;
}
.hills-and-valleys .content button {
  background-color: #ff0055;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .hills-and-valleys .content button {
    margin: 0 auto;
  }
}
.hills-and-valleys .content button:hover {
  background-color: #e6004e;
}
.hills-and-valleys::before, .hills-and-valleys::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hills-and-valleys::before {
  top: -300px;
  left: -150px;
  background-image: url("../assets/imgs/Whangaehu.png");
}
@media (max-width: 768px) {
  .hills-and-valleys::before {
    display: none;
  }
}
.hills-and-valleys::after {
  transform: rotate(180deg);
  bottom: -300px;
  right: -150px;
  background-image: url("../assets/imgs/Whangaehu.png");
}
@media (max-width: 768px) {
  .hills-and-valleys::after {
    display: none;
  }
}

.experience-section {
  position: relative;
  text-align: center;
  background: url("../assets/imgs/video_img.png") no-repeat center center;
  background-size: cover;
  padding: 60px 20px;
  color: #ffffff;
}
.experience-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(221, 89%, 7%, 0.8);
  z-index: -1;
}
.experience-section h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.experience-section .main-video {
  position: relative;
  max-width: 800px;
  margin: 0 auto 40px;
  border-radius: 10px;
  overflow: hidden;
}
.experience-section .main-video img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .experience-section .main-video img {
    width: 54%;
    margin: 0 auto;
  }
}
.experience-section .main-video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #ff0055;
  background-color: hsla(340, 100%, 50%, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .experience-section .main-video .play-button {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
}
.experience-section .main-video .play-button img {
  width: 30px;
}
@media (max-width: 768px) {
  .experience-section .main-video .play-button img {
    width: 20px;
    margin: 0 auto;
  }
}
.experience-section .info-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.experience-section .info-boxes .info-box {
  display: flex;
  align-items: center;
  max-width: 400px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .experience-section .info-boxes .info-box {
    flex-wrap: wrap;
  }
}
.experience-section .info-boxes .info-box img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .experience-section .info-boxes .info-box img {
    width: 100%;
    margin: 0 auto;
  }
}
.experience-section .info-boxes .info-box .text h3 {
  font-size: 1.2rem;
  margin: 15px 0;
  font-weight: bold;
}
@media (max-width: 768px) {
  .experience-section .info-boxes .info-box .text h3 {
    font-size: 1.5rem;
  }
}
.experience-section .info-boxes .info-box .text p {
  font-size: 0.9rem;
  color: #cccccc;
}
@media (max-width: 768px) {
  .experience-section .info-boxes .info-box .text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .experience-section .info-boxes .info-box {
    align-items: center;
  }
}

.photo-gallery-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #FFFFFF;
}
.photo-gallery-section h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  z-index: 10;
  color: #010A20;
}
.photo-gallery-section p {
  font-size: 1rem;
  color: #6F7787;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "DM Sans", sans-serif;
  z-index: 10;
}
.photo-gallery-section .gallery-grid {
  width: 100%;
  margin: 0 auto;
  margin-left: 150px;
  margin-bottom: 150px;
  height: 80vh;
  font-size: 30px;
  color: white;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-areas: "bir uch besh" "bir uch besh" "bir tort besh" "bir tort olti" "ikki tort olti" "ikki tort olti";
  gap: 20px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid {
    width: 50%;
    margin: 0 auto;
    grid-template-columns: 180px 180px;
    grid-template-areas: "bir uch" "bir uch" "bir tort" "bir tort" "ikki tort" "ikki tort" "besh olti" "besh olti" "besh olti";
  }
}
.photo-gallery-section .gallery-grid .bir {
  width: 350px;
  height: 500px;
  grid-area: bir;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .bir {
    width: 180px;
    height: 250px;
  }
}
.photo-gallery-section .gallery-grid .ikki {
  width: 350px;
  height: 200px;
  grid-area: ikki;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .ikki {
    width: 180px;
    height: 150px;
  }
}
.photo-gallery-section .gallery-grid .uch {
  width: 350px;
  height: 200px;
  grid-area: uch;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  grid-area: uch;
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .uch {
    width: 180px;
    height: 150px;
  }
}
.photo-gallery-section .gallery-grid .tort {
  width: 350px;
  height: 500px;
  grid-area: tort;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .tort {
    width: 180px;
    height: 250px;
  }
}
.photo-gallery-section .gallery-grid .besh {
  width: 350px;
  height: 350px;
  grid-area: besh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .besh {
    width: 180px;
    height: 150px;
  }
}
.photo-gallery-section .gallery-grid .olti {
  width: 350px;
  height: 350px;
  grid-area: olti;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .photo-gallery-section .gallery-grid .olti {
    width: 180px;
    height: 150px;
  }
}

.timeline-section {
  background-color: #e9f2fa;
  padding: 40px;
  font-family: "DM Sans", sans-serif;
}
.timeline-section h2 {
  text-align: start;
  margin-left: 250px;
  font-size: 3rem;
  margin-bottom: 30px;
}
.timeline-section .timeline {
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  max-width: 800px;
}
.timeline-section .timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  height: 75%;
  width: 2px;
  background-color: #ced4da;
}
.timeline-section .timeline .timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}
.timeline-section .timeline .timeline-item .timeline-icon {
  width: 40px;
  height: 40px;
  background-color: #d50000;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  left: -28px;
  top: 0;
}
.timeline-section .timeline .timeline-item .timeline-content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  width: 100%;
}
.timeline-section .timeline .timeline-item .timeline-content h3 {
  margin-top: 0;
  font-size: 1.2rem;
}
.timeline-section .timeline .timeline-item .timeline-content p {
  font-size: 0.95rem;
  line-height: 1.6;
}
.timeline-section .timeline .timeline-item .timeline-content .sub-content {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.timeline-section .timeline .timeline-item .timeline-content .sub-content img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 4px;
}
.timeline-section .timeline .timeline-item .timeline-content .sub-content p {
  margin: 0;
  font-size: 0.9rem;
}
.timeline-section .timeline .timeline-item .timeline-content .sub-content p strong {
  font-weight: bold;
}
.timeline-section .timeline .timeline-item .timeline-content .learn-more {
  background-color: #d50000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.timeline-section .timeline .timeline-item .timeline-content .learn-more:hover {
  background-color: #c20000;
}

.footer {
  background-color: #0d1b2a;
  color: #ffffff;
  padding: 20px 40px;
  position: relative;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer .footer-content .footer-logo {
  display: flex;
  align-items: center;
}
.footer .footer-content .footer-logo img {
  width: 30px;
  height: auto;
  margin-right: 8px;
}
.footer .footer-content .footer-logo span {
  font-size: 1.2rem;
  display: flex;
  color: #e63946;
  flex-direction: column;
}
.footer .footer-content .footer-logo strong {
  color: #ffffff;
}
.footer .footer-content .footer-nav {
  display: flex;
  gap: 20px;
}
.footer .footer-content .footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer .footer-content .footer-nav a:hover {
  color: #e63946;
}
@media (max-width: 768px) {
  .footer .footer-content .footer-nav {
    display: none;
  }
}
.footer .footer-content .footer-social {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footer-content .footer-social a {
  color: #ffffff;
  font-size: 1.2rem;
}
.footer .footer-content .footer-social a:hover {
  color: #e63946;
}
.footer .footer-content .footer-social span {
  font-size: 0.9rem;
  color: #ffffff;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #e63946;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
#myBtn img {
  width: 20px;
  height: auto;
}
#myBtn:hover {
  background-color: #d62828;
}/*# sourceMappingURL=main.css.map */